.navbar-brand-box {
    padding: 20px 1.5rem 0;
}

.bold {
    font-weight: bold !important;
    background: #fff4f5;
}

[class*="icofont-"] {
    font-weight: bold;
}

[type="submit"] {
    -webkit-appearance: button;
    background-color: #d10a11 !important;
    background-image: none;
}

button.delete {
    -webkit-appearance: button;
    background-color: #d10a11 !important;
}

button.info {
    -webkit-appearance: button;
    background-color: #10a2bc !important;
    border: 1px solid #10a2bc;
}

button.close {
    -webkit-appearance: button;
    color: #333;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[type="file"],
[multiple],
textarea,
select.form-select {
    border-color: #6b7280;
}

.select2-container--default .select2-selection--single {
    border-color: #6b7280 !important;
    padding-top: 5px;
    min-height: 40px;
    line-height: none;
}

.logo {
    line-height: 10px;
}

.error {
    color: #d10a11;
}

form.delete-form {
    display: inline-block;
}

.pdf-doc {
    height: 800px;
    margin-top: 20px;
}

.text-green {
    color: #178409;
}

.btn-primary:hover {
    background-color: #a80f11;
}

.engaged {
    background-color: #b3f9cb;
}

.float-end i {
    font-size: 35px;
    color: #d10a11;
}
