.mb-40 {
    margin-bottom: 40px;
}

figure.image figcaption {
    padding: 3px 5px;
    font-weight: 700;
}

.page-title {
    padding: 60px 0;
    background-position: left bottom;
}

.error {
    color: #d10a11;
    font-weight: bold;
}

.news-block .btn-box a {
    background-color: #d10a11;
    border: 1px solid #d10a11;
}

.news-block .btn-box a:hover {
    color: #d10a11;
    border: 1px solid #d10a11;
}

div.text p,
div.text li {
    color: #333 !important;
}

div.text ul {
    padding-left: 25px;
}

div.text ul li {
    font-size: 16px;
    line-height: 30px;
    color: #666;
}

div.text ul li:before {
    content: " ";
    margin-right: 10px;
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: #ff0000;
    display: inline-block;
}

.small-caption {
    font-size: 10px;
    color: #777;
    line-height: 15px;
}

.color-pink-button {
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #cd3383 0%, #fd494a 100%);
}

.color-pink-button:hover {
    color: #ffffff;
    background-image: linear-gradient(120deg, #fd494a 0%, #cd3383 100%);
}

.color-green-button {
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #2a403d 0%, #748b6f 100%);
}

.color-green-button:hover {
    color: #ffffff;
    background-image: linear-gradient(120deg, #748b6f 0%, #2a403d 100%);
}

.color-blue-button {
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #2e3d4e 0%, #178ca4 100%);
}

.color-blue-button:hover {
    color: #ffffff;
    background-image: linear-gradient(120deg, #178ca4 0%, #2e3d4e 100%);
}

.post-inner .side-title {
    font-size: 14px;
    line-height: 15px;
}

.event-wrapper {
    border: 1px solid #ccc;
    border-left: 5px solid #d10a11;
    border-radius: 5px;
    padding: 10px;
    color: #333 !important;
}

.about-widget .text p {
    color: #f8f8f8 !important;
}

.subscribe-form .form-group {
    border: 1px solid #ccc;
}

.about-section,
.speakers-section-two {
    padding: 30px 0 30px;
}

.about-section .image-column .image-box {
    position: relative;
    padding-left: 0px;
}

.about-section .content-column .inner-column {
    position: relative;
    padding-right: 0px;
}

.sec-title .text {
    color: #333;
}

.sec-title h4 {
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

.speaker-block-three .info-box .title {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 1em;
    color: #ffffff !important;
}

.speaker-detail {
    position: relative;
    padding: 20px 0;
}

.photo-100 {
    width: 80px;
    margin-right: 10px;
}

.schedule-block .speaker-info {
    padding-left: 0px;
}

.pdf-doc {
    height: 800px;
    margin-top: 20px;
}

.blog-categories li a {
    line-height: 20px;
}

.news-section.alternate {
    padding: 20px 0;
}

.gallery-section,
.news-block .lower-content {
    position: relative;
    padding: 20px 0px !important;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.btn-style-one {
    cursor: pointer;
}

.contact-form .alert-success {
    padding: 20px 25px;
}
